<!--<div class="modal-header">-->
    <!--<h3 class="modal-title" id="modal-title">Προσφορά: {{$ctrl.promotion.slot.toUpperCase()}}</h3>-->
<!--</div>-->
<div class="modal-body" id="modal-body">
    <h3 class="green">Νέα κατηγορία</h3>

    <form>
        <div class="form-group">
            <label>Τίτλος</label>
            <input type="text" ng-model="$ctrl.category.title" class="form-control">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-green" ng-disabled="$ctrl.submitting" type="button" ng-click="$ctrl.ok()">
        <i class="fa fa-spinner fa-spin" ng-show="$ctrl.submitting"></i>
        ΥΠΟΒΟΛΗ
    </button>
    <button class="btn btn-green-inverted" type="button" ng-click="$ctrl.cancel()">ΑΚΥΡΟ</button>
</div>