doctype html
html
  head
    title Unexpected Error Occurred

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body
    .container
      // Jumbotron
      .jumbotron
        h1 404
        p.lead
          | Η σελίδα που ψάχνετε δε βρέθηκε
          | .
        a.btn.btn-default.btn-lg.text-center(href='/')
          span.green Επιστροφή στην αρχή
