doctype html
html
  head
    meta(charset='utf-8')
    title BCGS:ADMIN
    meta(name='author', content='Subprime A.D.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf",content=_csrf)
    base(href="/")

    // bower:css
    link(rel='stylesheet', href='/bower_components/angular-ui-notification/dist/angular-ui-notification.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.css')
    // endbower
    
    // STYLES
    link(rel="stylesheet", href="/min/production.min.css")
    // STYLES END
  body(ng-controller='AdminController as main')
    .header(ng-cloak,ng-show="$location.$$path.indexOf('admin') > -1")
      .navbar.navbar-default.navbar-admin.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(ng-click="toggleMenu()")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.pull-left(href='/admin')
              img.navbar-logo(src='images/koutro-logo_white.png')
            a.navbar-brand(ng-href='/admin')
              span BCGS_ADMIN
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/admin/settings",ng-class="{'active':$location.$$path == 'admin/settings'}")
                  i.fa.fa-cogs
                  | &nbsp;&nbsp;ΡΥΘΜΙΣΕΙΣ
              li
                a(href="/admin/profile",ng-class="{'active':$location.$$path == 'admin/profile'}")
                  i.fa.fa-info-circle
                  | &nbsp;&nbsp;ΠΡΟΦΙΛ
              li
                a(href="/admin/services",ng-class="{'active':$location.$$path == 'admin/services'}") ΥΠΗΡΕΣΙΕΣ
              li
                a(href="/admin/promotions",ng-class="{'active':$location.$$path == 'admin/promotions'}") ΠΡΟΣΦΟΡΕΣ
              li
                a(href="/admin/blog",ng-class="{'active':$location.$$path == 'admin/blog'}") BLOG
              li
                a(href="/",target="_self")
                  i.fa.fa-globe
                  | &nbsp;&nbsp;SITE
              li
                a(href="/auth/logout")
                  i.fa.fa-power-off
                  | &nbsp;&nbsp;LOGOUT
    .container-fluid(ng-cloak)
      div(ng-view='')

    script(src='/bower_components/tinymce/tinymce.js')
    script(src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js")


    // SCRIPTS
    script(src="/min/production.min.js")
    // SCRIPTS END
