doctype html
html
  head
    meta(charset='utf-8')
    title BCGS
    meta(name='description', content='Building Cleaning and General Services')
    meta(name='author', content='Subprime A.D.')
    meta(name="_csrf",content=_csrf)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href="/")

    // bower:css
    link(rel='stylesheet', href='/bower_components/angular-ui-notification/dist/angular-ui-notification.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.css')
    // endbower
    
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body(ng-controller='MainController as main')
    .initialization-spinner-wrapper.flex.flex-column.center-aligner(ng-if="$location.$$path == '/'")
      div.spinner.initialization-spinner
        div.double-bounce1
        div.double-bounce2
    .header(ng-cloak).init-hidden
      .navbar.navbar-default.navbar-fixed-top(role='navigation',ng-show="$location.$$path == '/' || $location.$$path.indexOf('blog') > -1",ng-controller='NavController')
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(ng-init="navCollapsed = true",ng-click="navCollapsed = !navCollapsed")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.pull-left(href='/')
              img.navbar-logo(src='images/koutro-logo_white.png')
            a.navbar-brand(href='#',ng-click="scrollTop()")
              span BCGS
          .collapse.navbar-collapse(uib-collapse="navCollapsed")
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#",ng-click="scrollTo('about')",ng-class="{'active':activeSection == 'about'}") ΠΡΟΦΙΛ
              li
                a(href="#",ng-click="scrollTo('services')",ng-class="{'active':activeSection == 'services'}") ΥΠΗΡΕΣΙΕΣ
              li
                a(href="#",ng-click="scrollTo('promotions')",ng-class="{'active':activeSection == 'promotions'}") ΠΡΟΣΦΟΡΕΣ
              li(ng-show="posts.length")
                a(href="/blog",ng-class="{'active':activeSection == 'blog' || $location.$$path.indexOf('blog') > -1}") BLOG
              li
                a(href="#",ng-click="scrollTo('newsletter')",ng-class="{'active':activeSection == 'newsletter'}") ΕΠΙΚΟΙΝΩΝΙΑ
              li(ng-if="isAuthenticated()")
                a(href="/admin",target="_self") ADMIN

      .navbar.navbar-default.navbar-admin.navbar-fixed-top(role='navigation',ng-show="$location.$$path.indexOf('admin') > -1")
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(ng-click="toggleMenu()")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.pull-left(href='/admin')
              img.navbar-logo(src='images/logo.svg')
            a.navbar-brand(ng-href='/admin')
              span KC_ADMIN
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/admin/settings",ng-class="{'active':$location.$$path == 'admin/settings'}")
                  i.fa.fa-cogs
                  | &nbsp;&nbsp;ΡΥΘΜΙΣΕΙΣ
              li
                a(href="/admin/profile",ng-class="{'active':$location.$$path == 'admin/profile'}")
                  i.fa.fa-info-circle
                  | &nbsp;&nbsp;ΠΡΟΦΙΛ
              li
                a(href="/admin/services",ng-class="{'active':$location.$$path == 'admin/services'}") ΥΠΗΡΕΣΙΕΣ
              li
                a(href="/admin/promotions",ng-class="{'active':$location.$$path == 'admin/promotions'}") ΠΡΟΣΦΟΡΕΣ
              li
                a(href="/admin/blog",ng-class="{'active':$location.$$path == 'admin/blog'}") BLOG
              li
                a(href="/")
                  i.fa.fa-globe
                  | &nbsp;&nbsp;SITE
              li
                a(href="/")
                  i.fa.fa-power-off
                  | &nbsp;&nbsp;LOGOUT
    .container-fluid(ng-cloak).init-hidden.main-wrapper
      div.main-view(ng-view='')
      .row.footer.clearfix(ng-controller='NavController',ng-show="$location.$$path == '/' || $location.$$path.indexOf('blog') > -1",ng-class="{'footer-auto':isNarrow()}")
        .container
          .row
            .col-md-3
              h5 BCGS
              p.text-sm Η εταιρία Building Cleaning and General Services ιδρύθηκε το 1996 και εδώ και είκοσι χρόνια παρέχει άριστης ποιότητας υπηρεσίες καθαρισμού.
            .col-md-3
            .col-md-3.links
              .row
                .col-md-6
                  a(href="#",ng-click="scrollTo('about')") ΠΡΟΦΙΛ
                .col-md-6
                  a(href="#",ng-click="scrollTo('promotions')") ΠΡΟΣΦΟΡΕΣ
              .row
                .col-md-6
                  a(href="#",ng-click="scrollTo('services')") ΥΠΗΡΕΣΙΕΣ
                .col-md-6(ng-show="posts.length")
                  a(href="/blog",ng-click="scrollTo('blog')") BLOG
              br
            .col-md-3.contact
              p
                i.fa.fa-mobile
                | &nbsp;&nbsp;{{settings.phone}}
              p
                i.fa.fa-envelope
                | &nbsp;&nbsp; {{settings.email}}
              p
                i.fa.fa-map-marker
                | &nbsp;&nbsp; {{settings.address}}
          .footer-b
            .col-xs-6.col
              p.text-sm
                i.fa.fa-fw.fa-copyright
                |  2016 by
                a(href='http://subprimead.com/',target="_blank") &nbsp;Subprime A.D.
            .col-xs-6.col
              p.text-sm.social
                a(href="{{item.link}}",data-ng-repeat="item in socials",class="fa fa-{{item.icon}}")



    script(src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js")


    // SCRIPTS
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-cookies/angular-cookies.js")
    script(src="/bower_components/angular-ui-tinymce/src/tinymce.js")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-messages/angular-messages.js")
    script(src="/bower_components/angular-route/angular-route.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/lodash/lodash.js")
    script(src="/bower_components/angular-ui-notification/dist/angular-ui-notification.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/bower_components/angular-confirm-modal/angular-confirm.js")
    script(src="/bower_components/angular-jwt/dist/angular-jwt.js")
    script(src="/bower_components/ngstorage/ngStorage.js")
    script(src="/bower_components/sails.io.js/dist/sails.io.js")
    script(src="/bower_components/angular-sails/dist/angular-sails.js")
    script(src="/bower_components/moment/moment.js")
    script(src="/bower_components/ng-file-upload/ng-file-upload.js")
    script(src="/bower_components/moment/locale/el.js")
    script(src="/bower_components/angular-moment/angular-moment.js")
    script(src="/bower_components/angular-PubSub/src/angular-pubsub.js")
    script(src="/bower_components/angular-scroll/angular-scroll.js")
    script(src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js")
    script(src="/bower_components/angular-google-maps/dist/angular-google-maps.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="/js/main.js")
    script(src="/js/admin-blog/admin.blog.js")
    script(src="/js/admin-profile/admin.profile.js")
    script(src="/js/admin-promotions/admin.promotions.js")
    script(src="/js/admin-promotions/create/create-promotions-modal.js")
    script(src="/js/admin-services/admin.services.js")
    script(src="/js/admin-services/create/create-service-modal.js")
    script(src="/js/admin-settings/admin.settings.js")
    script(src="/js/admin/admin.js")
    script(src="/js/blog-post/blog-post-controller.js")
    script(src="/js/blog/blog-controller.js")
    script(src="/js/core/auth/auth-service.js")
    script(src="/js/core/auth/auth.js")
    script(src="/js/core/auth/login/login-controller.js")
    script(src="/js/core/auth/logout/logout-controller.js")
    script(src="/js/core/core.js")
    script(src="/js/core/data/data-service.js")
    script(src="/js/core/data/data.js")
    script(src="/js/core/dependencies/dependencies.js")
    script(src="/js/core/initialization-service.js")
    script(src="/js/core/nav-controller.js")
    script(src="/js/home/home-controller.js")
    // SCRIPTS END
