.container.admin-home
    .row
        .col-md-3.text-center.section-button
            .section-button-inner(ng-click="$location.path('/admin/settings')")
                i.fa.fa-cogs.fa-3x
                h4 ΡΥΘΜΙΣΕΙΣ
        .col-md-3.text-center.section-button
            .section-button-inner(ng-click="$location.path('/admin/profile')")
                i.fa.fa-info-circle.fa-3x
                h4 ΠΡΟΦΙΛ
        .col-md-3.text-center.section-button
            .section-button-inner(ng-click="$location.path('/admin/services')")
                i.fa.fa-3x.fa-cubes
                h4 ΥΠΗΡΕΣΙΕΣ
        .col-md-3.text-center.section-button(ng-click="$location.path('/admin/promotions')")
            .section-button-inner
                i.fa.fa-3x.fa-tags
                h4 ΠΡΟΣΦΟΡΕΣ
        .col-md-3.text-center.section-button
            .section-button-inner
                i.fa.fa-3x.fa-calendar
                h4 BLOG
        .col-md-3.text-center.section-button
            .section-button-inner
                i.fa.fa-3x.fa-envelope-o
                h4 EMAILS



