.container.blog
    .row
        .col-md-12.blog-page-header.text-center
            h1
                small
                | Εταιρεία
            div.underliner
    br
    br
    .row
        .col-md-7
            h2 2016
            ul
                li
                    a(href='https://drive.google.com/open?id=0B96vlSMUwwQcMTBZU29DVG52S3M',target="_blank") &nbsp;ΙΣΟΛΟΓΙΣΜΟΣ

        .col-md-5
            .panel.panel-default
                .panel-heading
                    .panel-title
                        | Στοιχεία επιχείρησης
                table.table.table-ike
                    tr(ng-repeat="item in details")
                        th {{item.key}}:
                        td(ng-bind-html="item.value")
    br
    br
    br
    br




