.modal-header
    button(type="button", class="close", data-dismiss="modal", aria-label="Close", ng-click="close()") &times;
    h4.modal-title
        i.fa.fa-tag
        | &nbsp;
        | {{currentOffer.tagline}}
.modal-body.current-offer-modal.row-eq-height
   .col-md-6.current-offer-badge
       h3.title.green {{currentOffer.title}}
       div(ng-bind-html="currentOffer.text")
       br
       p
           strong
               | * H προσφορά ισχύει έως &nbsp;
               span {{currentOffer.validUntil | amUtc | amDateFormat:'DD MMMM'}}
   .col-md-6
       p Συμπληρώστε το όνομα και το τηλέφωνό σας και θα επικοινωνήσουμε μαζί σας το συντομότερο δυνατόν!
       form
           .form-group(ng-class="{'has-error' : errors.indexOf('name') > -1}")
               label Όνομα/Επώνυμο
                   span.text-danger *
               input.form-control(type="text",ng-required="true",ng-model="contact.name", placeholder="Πληκτρολογήστε το ονοματεπώνυμό σας...")

           .form-group(ng-class="{'has-error' : errors.indexOf('phone') > -1}")
               label Τηλέφωνο επικοινωνίας
                    span.text-danger *
               input.form-control(ng-required="true",type="number",ng-model="contact.phone", placeholder="Πληκτρολογήστε τηλέφωνο...")

           .form-group
               label Τί ώρες επιθυμείτε να επικοινωνήσουμε;
               select.form-control(ng-model="contact.hours")
                   option(value="morning") Πρωινές ώρες
                   option(value="noon") Μεσημεριανές ώρες
                   option(value="afternoon") Απογευματινές ώρες
                   option(value="night") Βραδινές ώρες
           .form-group
               button.btn.btn-green(ng-disabled="submitting",type="button", ng-click="ok()")
                    i.fa.fa-spinner.fa-spin(ng-show="submitting")
                    | ΥΠΟΒΟΛΗ
               |&nbsp;&nbsp;
               button.btn.btn-green-inverted(ng-disabled="submitting",type="button", ng-click="close()")
                   | ΔΕ ΜΕ ΕΝΔΙΑΦΕΡΕΙ


   .clearfix