.row#section-header.section-header.section-full.flex.flex-column.center-aligner
  h1.title  Νοικοκυρεμένα κτίρια!
  h4.sub-title.margin-bottom  Building Cleaning & General Services
  .actions.clearfix
    a.btn.btn-white(ng-controller="NavController",href="#",ng-click="scrollTo('about')",ng-class="{'btn-block':isNarrow()}")
      | ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ
    a.btn.btn-white(href="#",ng-class="{'btn-block':isNarrow()}")
      | ΤΡΕΧΟΥΣΑ ΠΡΟΣΦΟΡΑ
  .building.clearfix(ng-show="!isShort()")
    img(src="/images/ktirio_sketch.png",ng-class="{'img-building-narrow':isNarrow()}")
  //.current-offer.clearfix
  //  h3.visible-md.visible-lg > Η ΤΡΕΧΟΥΣΑ ΠΡΟΣΦΟΡΑ ΜΑΣ <
  .scroll-down.clearfix
    a(href="#",ng-controller="NavController",ng-click="scrollTo('about')")
      i.fa.fa-angle-down.fa-2x
.container#about.thin.section-about.section.flex.flex-column.center-aligner
  .row.section-about-inner
    .col-md-12
      h1.title Ποιοί είμαστε;
      .underliner
      p Μια εταιρεία καθαρισμού και διαχείρισης κτηρίων
      .section-content
        .bio.clearfix.text-left
          img(src="/images/bio_pic.png",ng-class="{'img-responsive':isNarrow(),'pull-left': !isNarrow()}")
          div(ng-bind-html="home.profile | unsafe")
        br
        .social.clearfix
          a(href="{{item.link}}",data-ng-repeat="item in socials",class="fa fa-2x fa-{{item.icon}}")
.row#services.section-services.section
    .container
      h1.title Τί κάνουμε;
      .underliner
      p Οι υπηρεσίες μας
      br
      .services-blocks.clearfix
        .services-block(data-ng-repeat="service in services",ng-class="{'active':activeService.id == service.id}",ng-click="setActiveService(service)")
          .number {{$index + 1}}
          h5.heading.elipsize {{service.title}}
          //p.text.text-sm Εδώ μπαίνει κείμενο που περιγράφει συνοπτικά τις υπηρεσίες που αντιστοιχουν σε αυτην την κατηγορία
          p.arrow-up(ng-class="{'arrow-transparent' : activeService.id !== service.id}")
.row.service-details.section
    .container
      .col-md-6.text-left.cntnt
        h2.title.text-light
          strong {{activeService.title}}
        h4.sub-head.text-light {{activeService.description}}
        ul.mlist
          li.text-light(data-ng-repeat="item in activeService.details")
            span {{item.content}}
        br
      .col-md-6.services-pic.text-right.visible-lg.visible-md
        img.img-responsive(src="/images/services_pic.jpg")
.clearfix
.row#promotions.section-promotions.section
  .container(style="max-width:980px")
    h1.title Τα πακέτα μας
    .underliner
    p Εδώ απεικονίζονται ενδεικτικά τα πακέτα προσφορών της εταιρείας
    br
    br
    .row(ng-class="{'flex':!isNarrow()}")
      .col-md-4.promotion(data-ng-repeat="promotion in promotions")
        .inner.flex-column.flex-1.panel.panel-success(ng-class="{'reverse' : promotion.slot == 'standard','flex':!isNarrow()}")
          .panel-heading
            .h3.panel-title {{promotion.slot.toUpperCase()}}
          .panel-body.flex.flex-column.flex-1
            .price
              span.value
                span.currency &euro;
                | {{promotion.price.value}}
              span.interval /μήνα
            p.charge-interval.no-padding.no-margin.help-block Χρεώνεται ανά {{promotion.chargeInterval | chargeinterval}}
            br
            ul.list-unstyled.flex-1
              li(ng-repeat="item in promotion.details")
                i.fa.fa-check
                | &nbsp;&nbsp; {{promotion.details[$index].content}}
            p
              button.btn(ng-click="openPromotionModal(promotion)",ng-class="{'btn-green-inverted': promotion.slot != 'standard','btn-white': promotion.slot == 'standard'}") ΜΕ ΕΝΔΙΑΦΕΡΕΙ




br
br
.row#blog.section-blog.section.bg-light-grey.flex.center-aligner(ng-show="posts.length")
  .container.thin
    h1.title Το Blog μας
    .underliner
    p Εδώ θα βρείτε όλα τα άρθρα σχετικά με την εταιρεία και τη δουλειά μας
    p
      a(href="/blog").btn.btn-green-inverted ΔΕΙΤΕ ΟΛΑ ΤΑ ΑΡΘΡΑ
    .row.section-content.text-left.clearfix
      .col-md-4.blog-post(ng-repeat="post in posts",ng-if="$index < 2")
        .blog-post-inner
          .category-tag {{post.category.title}}
          img.img-responsive(ng-src='/posts/{{post.id}}/image')
          h4 {{post.title}}
          p.blog-content(ng-bind-html="post.excerpt | limitTo:150")
          p
            a(ng-href="/blog/posts/{{post.alias}}").btn.btn-green.btn-sm Περισσότερα...
      .col-md-4
        .blog-post.secondary.clearfix(ng-repeat="post in posts",ng-if="$index > 1")
          .blog-post-inner
            .category-tag {{post.category.title}}
            img.img-responsive(src="/images/buildings.jpg")
            h4
              a(ng-href="/blog/posts/{{post.alias}}") {{post.title}}

.clearfix
.row#newsletter.section-newsletter.section.bg-green.flex.center-aligner.clearfix
  .container
    .col-md-6
      h4.text-light Εγγραφείτε για να λαμβάνετε τα νέα μας
    .col-md-6
      .form-inline.flex
        .form-group.flex-1
          input.form-control(type="text",name="email",ng-model='newsletter.email',placeholder="Το email σας...")
        button.btn.btn-white(ng-click="saveEmail()") ΕΓΓΡΑΦΗ
.row#contact.section-contact.section
  ui-gmap-google-map.visible-lg.visible-md(center='map.center' zoom='map.zoom')
    ui-gmap-marker(coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id")
  .container
    .col-md-6

    .col-md-6.text-left
      h3 Επικοινωνία
      address.bg-light-grey
        i.fa.fa-map-marker
        | &nbsp;&nbsp;&nbsp;{{settings.address}}
        br
        i.fa.fa-phone
        | &nbsp;&nbsp;&nbsp;{{settings.phone}}
        br
        i.fa.fa-envelope
        | &nbsp;&nbsp;&nbsp;
        a(href="mailto:{{settings.email}}") {{settings.email}}
      p Θα θέλατε να συνεργαστούμε; Ζητήστε τη δική σας εξατομικευμένη προσφορά. Θα χαρούμε να σας εξυπηρετήσουμε.

      form.contact-form(ng-submit="submitContactForm(contactForm.$valid)",name="contactForm")
        span.hidden
          label.hidden(for="zipcode") Your zipcode
          input#zipcode.hidden(value="",data-ng-pattern="zipRegex",data-ng-model="contact.zipcode")
        .row
          .col-md-6
            .form-group(ng-class="{'has-error' : contactErrors.indexOf('name') > -1}")
              input.form-control(ng-model="contact.name",type="text",name="contactName",placeholder="Όνομα")
          .col-md-6
            .form-group(ng-class="{'has-error' : contactErrors.indexOf('email') > -1}")
              input.form-control(ng-model="contact.email",type="email",name="contactEmail",placeholder="Email")
        .row
          .col-md-12
            .form-group(ng-class="{'has-error' : contactErrors.indexOf('text') > -1}")
              textarea.form-control(ng-model="contact.text",rows="5",placeholder="Κείμενο...")
        .row
          .col-md-12
            button.btn.btn-green.btn-block(type="submit",ng-disabled="submittingContact") OK

      br






