<!--<div class="modal-header">-->
    <!--<h3 class="modal-title" id="modal-title">Προσφορά: {{$ctrl.promotion.slot.toUpperCase()}}</h3>-->
<!--</div>-->
<div class="modal-body" id="modal-body">
    <h3 class="green">Σας ενδιαφέρει η {{$ctrl.promotion.slot.toUpperCase()}} προσφορά;</h3>
    <p>Συμπληρώστε το όνομα και το τηλέφωνό σας και θα επικοινωνήσουμε μαζί σας το συντομότερο δυνατόν!</p>
    <br>
    <form>
        <div class="form-group">
            <label>Όνομα/Επώνυμο</label>
            <input type="text" ng-model="$ctrl.contact.name" class="form-control" placeholder="Πληκτρολογήστε το ονοματεπώνυμό σας...">
        </div>
        <div class="form-group">
            <label>Τηλέφωνο επικοινωνίας</label>
            <input type="number" ng-model="$ctrl.contact.phone" class="form-control"  placeholder="Πληκτρολογήστε τηλέφωνο...">
        </div>
        <div class="form-group">
            <label>Τί ώρες επιθυμείτε να επικοινωνήσουμε;</label>
            <select class="form-control" ng-model="$ctrl.contact.hours">
                <option value="morning">Πρωινές ώρες</option>
                <option value="noon">Μεσημεριανές ώρες</option>
                <option value="afternoon">Απογευματινές ώρες</option>
                <option value="night">Βραδινές ώρες</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-green" type="button" ng-click="$ctrl.ok()">ΜΕ ΕΝΔΙΑΦΕΡΕΙ!</button>
    <button class="btn btn-green-inverted" type="button" ng-click="$ctrl.cancel()">ΔΕ ΜΕ ΕΝΔΙΑΦΕΡΕΙ</button>
</div>